@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');


.colorBody{
    background-color: #f7f5f1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.inicioHome .titulo{
    font-size: 4.7rem;
}

.inicioHome .parrafoInicio{
    font-size: 1.5rem;
}

.container h4{
    margin-top: 17rem;
    font-size: 2rem ;
}

/*servicios*/
.subTitulo{
    font-weight: 400 ;
}
.tamanoImagen{
    width: 407px;
    height: 601px;
    
}


@media all and (max-width:576px){
    .inicioHome .titulo{
        font-size: 2rem;
    }
    .inicioHome .parrafoInicio{
        font-size: 1rem;
    }
    .parrafoDos{
        font-size: 1rem;
    }

    /*servcios*/

    .tamanoImagen{
        width: 207px;
        height: 401px;
    }
}

